@import "./common/fonts";

.bxi {
  // Resets for ui-library_style.css (trials)
  .button {
    all: revert;
    box-sizing: border-box;
  }

  * {
    color: inherit;
    font-weight: 400;
    font-family: var(--bxi-primary-font);
  }
  // End resets

  // Make the footer stick to the bottom or below content
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;

  footer {
    margin-top: auto;
  }

  @import "./common/button";
  @import "./common/dialog";
  @import "./common/forms";
  @import "./common/mixins";
  @import "./common/navbar";
  @import "./common/shared";
  @import "./common/utilities";

  @import "./company/customizations";
  @import "./finance/customizations";
  @import "./generic/customizations";
  @import "./health/customizations";
  @import "./manufacturing/customizations";
  @import "./retail/customizations";
}
