<!-- Password recovery, success message -->
<div class="dialog-content-header dialog-content__header">
  <h6 class="dialog-content-header__title">Password recovery</h6>
</div>
<div class="dialog-container">
  <div class="dialog-form dialog-content__form">
    <p class="dialog-form-message dialog-form-message--mb_5">
      Your password was successfully recovered.<br/>
      Log in with the new password.
    </p>
    <button class="dialog-form__submit-button button button--md" id="login">Log in</button>
  </div>
</div>
<!-- / Password recovery,success message -->