<!-- Password recovery, create new password-->

<div class="dialog-content-header dialog-content__header">
  <h6 class="dialog-content-header__title">Password recovery</h6>
</div>
<div class="dialog-container">
  <form class="dialog-form dialog-content__form" id="bxForm">
    <p class="dialog-form-message dialog-form-message--mb_3">
      Create new strong password
    </p>
    <div class="dialog-form__input-list">
      <div class="form-group dialog-form__form-group">
        <label class="form-group__label" for="password">Create new password</label>
        <input class="form-group__input" id="password" type="password"/>
      </div>
      <div class="form-group dialog-form__form-group">
        <label class="form-group__label">Confirm new password</label>
        <input class="form-group__input" type="password"/>
      </div>
    </div>
    <button class="dialog-form__submit-button button button--md" type="submit">Create</button>
  </form>
</div>
<!--/ Password recovery, create new password-->