<!-- Password recovery email passcode entering -->
<div class="dialog-content-header dialog-content__header">
  <h6 class="dialog-content-header__title">Password recovery</h6>
</div>
<div class="dialog-container">
  <form class="dialog-form dialog-content__form" id="bxForm">
    <p class="dialog-form-message dialog-form-message--mb_3">
      Email authentication. Please enter the passcode that you received, to complete password recovery.
    </p>
    <div class="dialog-form__input-list">
      <div class="form-group dialog-form__form-group dialog-form__form-group--xs">
        <input class="form-group__input" type="text"/>
      </div>
    </div>
    <button class="dialog-form__submit-button button button--md" type="submit">Done</button>
  </form>
  <div class="dialog-icon-message dialog-content__icon-message">
    <div class="dialog-icon-message__icon-wrapper">
      <svg fill="none" height="29" viewbox="0 0 35 29" width="35" xmlns="http://www.w3.org/2000/svg">
        <mask fill="white" id="path-1-inside-1_152_355">
          <rect height="28.6364" rx="2" width="35"/>
        </mask>
        <rect height="28.6364" mask="url(#path-1-inside-1_152_355)" rx="2" stroke-opacity="0.6" stroke-width="6" stroke="#0E264C" width="35"/>
        <path d="M2.38672 1.59082L16.2611 12.5443C16.9877 13.1179 18.013 13.1179 18.7396 12.5443L32.614 1.59082" stroke-opacity="0.6" stroke-width="3" stroke="#0E264C"/>
      </svg>
    </div>
    <p class="dialog-form-message">
      We sent an email to iel***@bxindustry.com
    </p>
    <button class="dialog-icon-message__action">RESEND</button>
  </div>
</div>
<!-- Password recovery email passcode entering-->