<!-- registration -->
<div class="dialog-content-header dialog-content__header">
  <h6 class="dialog-content-header__title">Create an account</h6>
</div>
<form class="dialog-container" id="bxForm">
  <div class="dialog-form dialog-content__form">
    <div class="dialog-form__input-list">
      <div class="form-group dialog-form__form-group">
        <label class="form-group__label" for="input-1">First name *</label>
        <input class="form-group__input" id="input-1" type="text"/>
      </div>
      <div class="form-group dialog-form__form-group">
        <label class="form-group__label" for="input-2">Last name *</label>
        <input class="form-group__input" id="input-2" type="text"/>
      </div>
      <div class="form-group dialog-form__form-group">
        <label class="form-group__label" for="input-3">Email *</label>
        <input class="form-group__input" id="input-3" type="email"/>
      </div>
      <div class="form-group dialog-form__form-group">
        <label class="form-group__label" for="input-4">Country or region *</label>
        <input class="form-group__input" id="input-4" type="text"/>
      </div>
      <div class="form-group dialog-form__form-group">
        <label class="form-group__label" for="input-5">Create password *</label>
        <input class="form-group__input" id="input-5" type="password"/>
      </div>
      <div class="form-group dialog-form__form-group">
        <label class="form-group__label" for="input-6">Repeat password *</label>
        <input class="form-group__input" id="input-6" type="password"/>
      </div>
    </div>
    <p class="dialog-form-message dialog-form-message--mb_1">
      By clicking on the "Create Account" button, you are agreeing to the
      <span class="dialog-form-message__action">
        Terms of Use</span>
      and
      <span class="dialog-form-message__action">
        Privacy Policy</span>
    </p>
    <button class="dialog-form__submit-button button button--md" type="submit">Create account</button>
    <div class="dialog-form__footer">
      <p class="dialog-footer-description">
        Already have an account?&nbsp;
        <span class="dialog-footer-description__link" id="login-btn">
          LOG IN
        </span>
      </p>
    </div>
  </div>
</form>
<!--/ registration -->