<!-- Auth flow picker -->
<div class="dialog-content-header dialog-content__header">
  <h6 class="dialog-content-header__title">Welcome back</h6>
</div>
<div class="dialog-container">
  <p class="dialog-form-message">How would you like to log in?</p>
  <div class="dialog-form dialog-content__form">
    <div class="auth-flow-picker dialog-form__flow-picker">
      <div class="auth-flow-item auth-flow-picker__item" id="email_passcode">
        <div class="auth-flow-item__side">
          <p class="auth-flow-item__title">Email me a one time passcode on:</p>
          <p class="auth-flow-item__info">iel***@bxindustry.com</p>
        </div>
        <div class="auth-flow-item__side">
          <svg fill="none" height="18" viewbox="0 0 22 18" width="22" xmlns="http://www.w3.org/2000/svg">
            <rect height="16" rx="1" stroke-width="2" stroke="#D6DDE9" width="20" x="1" y="1"/>
            <path d="M1.5 1L9.76071 7.52162C10.4873 8.09526 11.5127 8.09526 12.2393 7.52161L20.5 1" stroke-width="2" stroke="#D6DDE9"/>
          </svg>
        </div>
      </div>
      <div class="auth-flow-item auth-flow-picker__item" id="message-passcode">
        <div class="auth-flow-item__side">
          <p class="auth-flow-item__title">Text me a one-time passcode on:</p>
          <p class="auth-flow-item__info">8***5678</p>
        </div>
        <div class="auth-flow-item__side">
          <svg fill="none" height="25" viewbox="0 0 24 25" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 18H6V17H5V18ZM6.62469 23.7002L7.24939 24.4811H7.24939L6.62469 23.7002ZM13.75 18V17H13.3992L13.1253 17.2191L13.75 18ZM2 3C2 2.44772 2.44772 2 3 2V0C1.34315 0 0 1.34315 0 3H2ZM2 16V3H0V16H2ZM3 17C2.44771 17 2 16.5523 2 16H0C0 17.6569 1.34315 19 3 19V17ZM5 17H3V19H5V17ZM6 22.9194V18H4V22.9194H6ZM6 22.9194H6H4C4 24.5964 5.93986 25.5287 7.24939 24.4811L6 22.9194ZM13.1253 17.2191L6 22.9194L7.24939 24.4811L14.3747 18.7809L13.1253 17.2191ZM21 17H13.75V19H21V17ZM22 16C22 16.5523 21.5523 17 21 17V19C22.6569 19 24 17.6569 24 16H22ZM22 3V16H24V3H22ZM21 2C21.5523 2 22 2.44772 22 3H24C24 1.34315 22.6569 0 21 0V2ZM3 2H21V0H3V2Z" fill="#D6DDE9"/>
            <circle cx="6.5" cy="9.5" fill="#D6DDE9" r="1.5"/>
            <circle cx="12.5" cy="9.5" fill="#D6DDE9" r="1.5"/>
            <circle cx="18.5" cy="9.5" fill="#D6DDE9" r="1.5"/>
          </svg>
        </div>
      </div>
      <div class="auth-flow-item auth-flow-picker__item" id="mobile-app">
        <div class="auth-flow-item__side">
          <p class="auth-flow-item__title">With mobile app:</p>
          <p class="auth-flow-item__info">On my phone</p>
        </div>
        <div class="auth-flow-item__side">
          <svg fill="none" height="25" viewbox="0 0 17 25" width="17" xmlns="http://www.w3.org/2000/svg">
            <rect height="23" rx="1" stroke-width="2" stroke="#D6DDE9" width="15" x="1" y="1"/>
            <path d="M1 5H16" stroke-width="2" stroke="#D6DDE9"/>
            <circle cx="8.5" cy="19.5" fill="#D6DDE9" r="1.5"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Auth flow picker -->