<!-- Sign in via mobile app -->
<div class="dialog-content-header dialog-content__header">
  <h6 class="dialog-content-header__title">Welcome back</h6>
</div>
<div class="dialog-container">
  <div class="dialog-icon-message dialog-content__icon-message">
    <div class="dialog-icon-message__icon-wrapper">
      <svg fill="none" height="44" viewbox="0 0 30 44" width="30" xmlns="http://www.w3.org/2000/svg">
        <mask fill="white" id="path-1-inside-1_152_412">
          <rect height="44" rx="2" width="29.92"/>
        </mask>
        <rect height="44" mask="url(#path-1-inside-1_152_412)" rx="2" stroke-opacity="0.6" stroke-width="6" stroke="#0E264C" width="29.92"/>
        <path d="M3 8.79956H26.9388" stroke-opacity="0.6" stroke-width="3" stroke="#0E264C"/>
        <circle cx="14.9623" cy="34.3197" fill-opacity="0.6" fill="#0E264C" r="2.64"/>
      </svg>
    </div>
    <p class="dialog-form-message">
      We've Pinged you at your mobile app.<br/>
      Please check it now.
    </p>
  </div>
</div>
<!-- / Sign in via mobile app -->