<!-- Username recovery -->
<div class="dialog-content-header dialog-content__header">
  <h6 class="dialog-content-header__title">Username recovery</h6>
</div>
<div class="dialog-container">
  <p class="dialog-form-message dialog-form-message--mb_3">
    Please enter your email address to receive an email with your username
  </p>
  <form class="dialog-form dialog-content__form" id="bxForm">
    <div class="form-group dialog-form__form-group">
      <label class="form-group__label" for="email">Email</label>
      <input class="form-group__input" id="email" type="email"/>
    </div>
    <button class="dialog-form__submit-button dialog-form__submit-button--mb_5 button button--md" type="submit">
      Send a request
    </button>

    <div class="dialog-form__footer">
      <div class="dialog-form__footer">
        <p class="dialog-footer-description">
          Don’t have an account?&nbsp;
          <span class="dialog-footer-description__link" id="create-account">
            Create an account
          </span>
        </p>
      </div>
    </div>
  </form>
</div>

<!-- /Username recovery -->