<!-- Username recovery message -->
<div class="dialog-content-header dialog-content__header">
  <h6 class="dialog-content-header__title">Username recovery</h6>
</div>
<div class="dialog-container">
  <div class="dialog-icon-message dialog-content__icon-message">
    <p class="dialog-form-message">
      Thanks for your request. If your email address is verified, you’ll recived an email with your username.
    </p>
    <button class="dialog-icon-message__action" id="go-to-main-page">Go to main page</button>
  </div>
</div>
<!-- / Username recovery message -->