@import '../common/mixins';

&.retail {
  .button {
    font-size: 16px;
    border-radius: .5rem;

    &--icon {
      border-radius: 50%;
    }
  }

  @include breakpoint-lg {
    .bxi-auth-buttons {
      border-left: 1px solid #fff;
    }
  }

  .shop-tile, 
  .sale-tile {
    height: 470px;
  }

  .sale-tile {
    background: 100% 100% no-repeat;
    background-size: 110%;
  }

  .shop-tile {
    &__overlay {
      margin: 5rem -1rem 0 3rem;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  .feature-title {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: -.5rem;
  }

  .bxi-banner {
    background-color: var(--bxi-banner-bg-color);

    img {
      height: 30px;
    }
  }

  &.dashboard {
    .portal-sidebar-logo {
      height: 24px;
      width: auto;
    }

    .product-title {
      height: 48px;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .cart-icon {
      margin-top: -4px;
      margin-left: -8px;
    }

    .items-per-page {
      border-bottom: 2px solid var(--bxi-primary-color);
    }

    .pagination {
      margin-top: -4px;

      span {
        &:first-child {
          color: #fff;
          background-color: var(--bxi-primary-color)
        }
      }

      &::before {
        @include triangle(5px, var(--bxi-primary-color), 'left') {
          top: 10px;
          left: -1rem;
          cursor: pointer;
        }
      }

      &::after {
        @include triangle(5px, var(--bxi-primary-color), 'right') {
          top: 10px;
          right: -1rem;
          cursor: pointer;
        }
      }
    }
  }
}