@import '../common/mixins';

&.eats {
  .bxi-button {
    border-radius: 2rem;
  }

  .bxi-auth-buttons {
    .bxi-button {
      margin-bottom: .25rem;
    }
  }

  .bxi-copyright-bg-color {
    background-color: var(--bxi-eats-copyright-bg-color);
  }

  .bxi-program {
    height: 250px;
    padding-top: 50px;

    &:hover {
      padding-top: 0;
    }

    &-color {
      color: var(--bxi-eats-program-color);
    }

    &-overlay {
      background: linear-gradient(0.59deg, rgba(12, 35, 68, 0.8) 9.94%, rgba(10, 29, 57, 0) 94.52%);
    }
  }

  &.home {
    .bxi-auth-buttons {
      .bxi-button {
        @include breakpoint-lg {
          font-size: 14px;
          border-radius: 0;
          margin-bottom: 0;
        }
      }
    }

    .bxi-banner {
      &--text {
        color: var(--bxi-eats-banner-color);
      }
      
      &__image {
        height: 300px;
        @include breakpoint-md {
          height: 700px;
        }
      }

      &-content { 
        height: 100%;
        width: 100%;
        background: linear-gradient(90.77deg, rgba(15, 17, 14, 0.7) 15.41%, rgba(15, 17, 14, 0) 97.48%);
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 55%;
      }
    }
  }

  &.dashboard {
    .bxi-eats-dashboard--color {
      color: var(--bxi-eats-portal-color);
    }

    .bxi-eats-portal {
      background-color: var(--bxi-eats-portal-bg-color);
      border: 1px solid var(--bxi-eats-portal-border-color);

      .bxi-checklist-item {
        border-top: 1px solid var(--bxi-eats-portal-checklist-item-border-color);

        .bxi-checkmark {
          width: 25px;
          min-width: 25px;
          height: 25px;
          border: 1px solid var(--bxi-eats-portal-checkmark-border-color);

          svg {
            display: none;
          }

          &--checked {
            background-color: var(--bxi-eats-portal-checkmark-bg-color);
            border: none;

            svg {
              display: block
            }
          }
        }

        .bxi-checklist-time {
          @include color-icon(var(--bxi-eats-portal-checklist-item-border-color));

          &--color {
            color: var(--bxi-eats-portal-checkmark-border-color);
          }

          & > span {
            width: 60px;
          }
        }
      }
    }
  }
}
