@import "../common/mixins";

&.finance {
  @include breakpoint-lg {
    .bxi-auth-buttons .bxi-button {
      border-radius: 0;
      padding-right: 1rem;
      border-right: 1px solid #68747F;

      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }

  .rewards-card {
    background-color: var(--bxi-finance-rewards-bg-color);

    &-color {
      color: var(--bxi-finance-rewards-color);
    }

    &-image {
      margin-top: -1.5rem;
      margin-left: auto;
    }
  }
  
  .bxi-banner {
    color: var(--bxi-finance-banner-color);
    background-color: var(--bxi-finance-banner-bg-color);

    &-circle {
      background: var(--bxi-finance-banner-cirles-color);
      box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.15);

      &:first-child {
        width: 441px;
        height: 441px;
        top: -200px;
        left: -200px;
      }

      &:nth-child(2) {
        width: 300px;
        height: 300px;
        bottom: -160px;
        right: 200px;
      }

      &:nth-child(3) {
        width: 400px;
        height: 400px;
        top: 20px;
        right: -217px;
      }
    }
  }

  &.home {
    .bxi-header {
      &-color {
        color: var(--bxi-finance-header-color);
      }
    }

    .rewards-card {

      &-image {
        width: 282px;
        top: -52px;
        left: 40px;

        @include breakpoint-sm {
          left: 100px;
        }
      }

      &-subtitle {
        width: 300px;
      }

      &-pill {
        &-lg, &-sm {
          background-color: #fff;
        }

        &-lg {
          padding-left: 70px;
          padding-top: 140px;
          width: calc(100vw + 300px);
          margin-top: 100px;

        }

        &-sm {
          width: calc(100vw + 300px);
          height: 30px;
          margin-left: 200px;
        }
      }
    }

    .bxi-icon-bg { 
      width: 92px;
      height: 92px;
      background: var(--bxi-finance-icon-bg-color);
    }
  }

  &.dashboard {
    .rewards-card {
      max-height: 350px;

      &-image {
        height: 350px;
        margin-bottom: -1.5rem;
        margin-right: -1.5rem;
      }
    }

    .account-tile {
      border-top: 2px solid var(--bxi-finance-component-border-color);

      .accounts-row {
        padding-bottom: .5rem;
        margin-bottom: .5rem;
        border-bottom: 1px solid #c6cdcf;

        &:last-child {
          border-bottom: none;
        }
      }

      &::before {
        @include triangle(5px, #000, 'down') {
          top: 2rem;
          left: 1.25rem;
        }
      }
    }
  }
}