<button id="bxi-reset-password" class="bxi-button">Reset Password</button>
<button id="bxi-manage-devices" class="bxi-button">Manage Devices</button>
<button id="bxi-profile-management" class="bxi-button">Profile Management</button>