<button id="bxi-log-in" class="button bxi-nav-link">Log In</button>
<button id="bxi-sign-up" class="button bxi-nav-link">Sign Up</button>
<button id="bxi-account-recovery" class="button bxi-nav-link">Account Recovery</button>