<div id="dv-modal" class="modal dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex justify-content-center dialog-logo mb-4">
          <img src="{{ settings.images.dialog_logo }}" />
        </div>
        <div id="modal-widgetbox"></div>
        <div id="modal-error" class="text-danger text-center d-none"></div>
      </div>
    </div>
  </div>
</div>
<script type="module" src="/bxi-davinci.js"></script>