.button {
  padding: 6px 27px;
  font-weight: 500;
  font-size: 12px;
  border: none;
  background: var(--bxi-button-bg-color);
  color: var(--bxi-button-color);
  cursor: pointer;

  &:hover, &:active {
    border: none;
    background: var(--bxi-button-bg-hover-color);
    color: var(--bxi-button-color);
  }
}

.button--md {
  padding: 10px 26px;
  font-size: 14px;
}

.button--lg {
  padding: 16px 27px;
  font-size: 14px;
}

.button--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 0;

  &.button--md {
    width: 42px;
    height: 42px;
  }
}

.button--submit {
  min-width: 300px;
}

.bxi-footer {
  .button--outline {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
  
    &:hover, &:active {
      color: #fff;
      background: var(--bxi-primary-color);
      border: 1px solid #fff;
    }
  }
}

.button--outline {
  background: transparent;
  border: 1px solid var(--bxi-primary-color);
  color: var(--bxi-primary-color);

  &:hover, &:active {
    color: #fff;
    background: var(--bxi-primary-color);
    border: 1px solid #fff;
  }

  &.button--facebook {
    border-color: #275FAB;

    svg path {
      fill: #275FAB;
    }

    &:hover {
      background-color: #275FAB;

      svg path {
        fill: #fff;
      }
    }
  }

  &.button--linkedin {
    border-color: #0C61B8;

    svg path {
      fill: #0C61B8;
    }

    &:hover {
      background-color: #0C61B8;

      svg path {
        fill: #fff;
      }
    }
  }

  &.button--apple {
    border-color: #050708;

    svg path {
      fill: #050708;
    }

    &:hover {
      background-color: #050708;

      svg path {
        fill: #fff;
      }
    }
  }
}

.button--link {
  padding: 0;
  font-size: 16px;
  background: transparent;
  color: var(--bxi-link-button-color);

  &:hover {
    color: var(--bxi-link-button-hover-color);
    background: transparent;
  }
}

a, a.button, .button--link {
  text-transform: none;
  text-decoration: none;
}

.bxi-nav-link,
.nav-link.bxi-nav-link {
  padding: 0;
  background: transparent;
  color: var(--bxi-nav-link-color);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: var(--bxi-nav-link-hover-color);
    background: transparent;
  }
}

.bxi-footer-link {
  color: var(--bxi-footer-link-color);
  transition: 0.2s;
  text-decoration: none;

  &:hover {
    color: var(--bxi-footer-link-hover-color);
  }
}

.floating-button {
  position: fixed;
  display: inline-block;
  background: #fff;
  height: 33px;
  bottom: 1.5rem;
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);

  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.4);
  }

  &:active {
    bottom: calc(1.5rem - 1px);
  }
}

.verticals-link {
  right: -2px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 33px;
  border: 2px solid black;
}

.glitch-button {
  right: 3rem;
  border-radius: 6px;
}