.fw-boldish {
  font-weight: 500;
}

.ls-none {
  list-style: none;
}

.fs-7 {
  font-size: 14px;
}

.fs-8 {
  font-size: 12px;
}


.cursor-pointer {
  cursor: pointer;
}

.bxi-ff-primary {
  font-family: var(--primary-font);
}

.bxi-ff-secondary {
  font-family: var(--bxi-secondary-font);
}

.pe-lg-none {
  @include breakpoint-lg {
    pointer-events: none;
  }
}

.bxi-footer-color {
  color: var(--footer-text-color);
  background-color: var(--footer-background-color);
}

.bxi-footer-link {
  color: var(--footer-link-text-color);
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    color: var(--footer-link-text-hover-color);
  }
}

.bxi-copyright-color {
  color: var(--copyright-text-color);
}

.bxi-color-primary {
  color: var(--bxi-primary-color);
}

.bxi-color-secondary {
  color: var(--bxi-secondary-color);
}

.bxi-color-dark {
  color: #192130;
}

.bxi-color-light {
  color: #76818B;
}

.bxi-bg-primary {
  background-color: var(--bxi-primary-color);
}

.bxi-bg-secondary {
  background-color: var(--bxi-secondary-color);
}

.bxi-nav-color {
  color: var(--navigation-color);
}

.bxi-nav-bg-color {
  background: var(--navigation-background-color);
}

.bxi-bg-transparent {
  background-color: transparent;
}

.bxi-bg-lg-transparent {
  @include breakpoint-lg {
    background-color: transparent;
  }
}

.bxi-bg-image {
  background-size: cover;
  background-position: center;
}

.bxi-cta-title {
  font-weight: 700;
  font-size: 2rem;

  @include breakpoint-sm {
    font-size: 2.5rem;
  }

  @include breakpoint-lg {
    font-size: 3.75rem;
  }
}