<button class="bxi-button me-md-3 mb-3 mb-md-0" data-dv-flow="modal" data-policy-id="xxx">Update Profile</button>
<button class="bxi-button" data-dv-flow="modal" data-policy-id="xxx">Update Password</button>