<button class="bxi-button me-md-3 mb-3 mb-md-0" data-dv-flow="modal" 
  data-policy-id="{{env.BXI_PROFILE_MANAGEMENT_POLICY_ID}}" data-error-callback="logout">Update Profile</button>
<button class="bxi-button me-md-3 mb-3 mb-md-0" data-dv-flow="modal" 
  data-policy-id="3e5aa01cd558e9a2d0f29b099283a4e1" data-error-callback="logout">Reset Password</button>
<button class="bxi-button me-md-3 mb-3 mb-md-0" data-dv-flow="modal" 
  data-policy-id="8314948db18c0165f95b31ff00087530" data-error-callback="logout">Manage MFA Devices</button>
