<button class="button button--link" 
  data-dv-flow="modal" data-policy-id="{{env.BXI_LOGIN_POLICY_ID}}" 
  data-success-callback="loginSuccess" data-redirect-on-completion="true">Log In</button>
<button class="button button--link" 
  data-dv-flow="modal" data-policy-id="{{env.BXI_REGISTRATION_POLICY_ID}}">Sign Up</button>