<button class="bxi-button" data-success-callback="defaultAuthnSuccess"
  data-dv-flow="modal" data-policy-id="{{env.BXI_LOGIN_POLICY_ID}}">Log In</button>
{{#if env.BXI_REGISTRATION_POLICY_ID}}
<button class="bxi-button" data-success-callback="defaultAuthnSuccess"
  data-dv-flow="modal" data-policy-id="{{env.BXI_REGISTRATION_POLICY_ID}}">Sign Up</button>
{{/if}}