@import '../common/mixins';

&.airlines {
  a,
  .button {
    text-transform: uppercase;
    border-radius: 2px;
    font-weight: 600;
  }

  .bxi-footer-link {
    font-size: 14px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  @include breakpoint-lg {
    .bxi-nav-link {
      color: var(--bxi-link-button-color);

      &:hover {
        color: var(--bxi-link-button-hover-color);
      }
    }
  }

  &.home {
    @include breakpoint-lg {
      .bxi-auth-buttons {
        .bxi-nav-link {
          padding: 10px 20px;
          @include standard-button-styles();
        }
      }
    }

    .bxi-banner {
      & > div {
        min-height: 550px;
      }
      
      &--text {
        color: var(--bxi-airlines-banner-color);
      }

      &-input-container {
        background-color: var(--bxi-airlines-banner-input-bg-color);
        flex-basis: 31%;
        border-radius: 2px;

        input {
          border-radius: 2px
        }
      }

      &-input-button {
        flex-basis: 7%;
      }
    }

    .additional-links {
      @include color-icon(var(--bxi-primary-color));

      & > div {
        border: 1px solid #dbdbdb;
        
        &:not(:last-child) {
          border-bottom: none;
        }

        @include breakpoint-lg {
          &:not(:last-child) {
            border-bottom: 1px solid #dbdbdb;
          }

          &:not(:first-child) {
            border-left: none;
          }
        }
      }
    }

    .bxi-offers-section {
      &-offer {
        height: 270px;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 50%;
          background: linear-gradient(180deg, rgba(24, 34, 55, 0.8) 9.94%, rgba(10, 29, 57, 0) 94.52%);
          z-index: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &--text {
        color: var(--bxi-airlines-offers-color)
      }

      .button {
        color: var(--bxi-secondary-color);
        background-color: var(--bxi-airlines-offer-button-bg-color);

        &:hover {
          color: var(--bxi-airlines-offer-button-hover-color);
          background-color: var(--bxi-primary-color);
        }
      }
    }
  }

  &.dashboard {
    #username-container {
      padding-top: 2px;
    }
  }
}