.bxi {
  .button {
    padding: 6px 27px;
    font-weight: 500;
    font-size: 12px;
    border: none;
    background: var(--primary-button-background);
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background: var(--primary-button-background-hover);
    }
  }

  a.button {
    text-transform: none;
    text-decoration: none;
  }

  .button--link:hover {
    color: var(--primary-color);
  }

  .button--md {
    padding: 13px 26px;
    font-size: 14px;
  }

  .button--lg {
    padding: 15px 27px;
  }

  .button--icon {
    padding: 14px 15px;
  }

  .button--outline {
    background: transparent;
    border: 1px solid var(--outline-button-color);
    color: var(--outline-button-color);

    &:hover {
      background: var(--outline-button-hover-color);
      border-color: var(--outline-button-hover-color);
    }
  }

  .button--link {
    padding: 0;
    font-size: 14px;
    background: transparent;
    color: var(--link-button-color);
    font-size: 14px;

    &:hover {
      color: var(--link-button-hover-color);
      background: transparent;
    }
  }

  .floating-button {
    position: fixed;
    display: inline-block;
    background: #fff;
    height: 33px;
    bottom: 1.5rem;
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);

    &:hover {
      box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.4);
    }

    &:active {
      bottom: calc(1.5rem - 1px);
    }
  }

  .verticals-link {
    right: -2px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 33px;
    border: 2px solid black;
  }

  .glitch-button {
    right: 3rem;
    border-radius: 6px;
  }
}